CONVEX_DEPLOYMENT=

NEXT_PUBLIC_CONVEX_URL=

NEXT_PUBLIC_CONVEX_SITE_URL=

SETUP_SCRIPT_RAN=0

NEXT_PUBLIC_ELEVENLABS_AGENT_ID=

OPENROUTER_API_KEY=
OPENROUTER_APP_TITLE=

ELEVENLABS_API_KEY=

GEMINI_API_KEY=
